# Copy this file to [app]/config/config_env.rb
# Replace :[ENV_NAME] with environment name
# Replace [*] with key
# The API has the private key of the UI so it can create
# => and sign messages as if it were the UI.
# Run `rake keys_for_config` to generate these keys.

config_env :[ENV_NAME] do
  set 'MSG_KEY', [Session secret key]
  set 'UI_PRIVATE_KEY', [Private key for UI App]
  set 'UI_PUBLIC_KEY', [Public key for UI App]
  set 'API_PRIVATE_KEY', [Private key for API]
  set 'API_PUBLIC_KEY', [Public key for API]
end
